/* ImageGrid.css */
.image-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Reduce the gap between images */
  margin: 20px;
  margin-top: 10%;
}

.image-item {
  flex: 1;
  max-width: 10%;
}

.image-item img {
  max-width: 10%; /* Adjust the maximum width of the images */
  height: auto; /* Maintain the aspect ratio of the images */
}


.grid-heading{
    text-align: center;
    margin-top: 5%;
}

.grid-head{
    margin-bottom: 3%;
}


.row-aboutpage{
  margin-left: 45.7%;
}

.row-aboutpages{
  margin-left: 10%;
}

.content-about{
  // justify-content: flex-end;
  // white-space: pre-line;
  // text-align: justify;
  // display: -webkit-box;
  //  -webkit-line-clamp: 3;
  // // width: 105.5%;
  width: 100%;
  font-size: 10px;
}