.section-title  .rsl-result {
    color: #253284;
    margin-left: 50%;
}

.title-rsl-ft{
    color: #253284;
}

.section-title1{
    margin-left: -18%;
}


.aboutarea-title{
    margin-left: 50%;
    width: 150%;
}


.serviceareaone-thumb{
   margin-top: -30%; 
}


.grid-container-aboutareaone{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    font-weight: 700;
    font-size: 16px;
    // align-items: flex-start;
}


.grid-check-aboutareaone{
    display: flex;
    flex-direction: column;
    // margin-top: 4%;
    // font-weight: 700;
    align-items: flex-start;
}


.grid2-about{
    margin-left: 10%;
}


.job-title{
    margin-top: 50%;
    margin-left: 58%;
    width: 110%;
    font-weight: 700;
}


.job-contents{
    width: 150%;
}