.rsl-pagetwo{
    // width: 70%;
    align-items: center;
    padding: 0% 13%;
    width: 99%;
  }


  .title-rsl{
    margin-top: 7%;
  
    // margin-left: -31.5%;
    font-size: 30px;
     padding-left: 11.5%;             
    // font-weight: bold;
    color: rgb(37, 50, 132);
    // font-family: 'Roboto', sans-serif;
    font-weight: 900 ;
    font-family: 'Inter', sans-serif;
    // font-family: sans-serif;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .rsl-heading{
    color: rgb(37, 50, 132);
    line-height: 550%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }


  .rsl-para{
    
    font-family: 'Inter', sans-serif;
  }


  .animate-img-rsl{
    align-items: center;
    padding-left: 23%;
    padding-top: 5%;
  }