.titletechnology {
    font-size: 35px;
    // margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
    // margin-left: 22%;
    width: 70%;
    // margin-top: 20%;
    color: white;
  //   span {
  //     color: var(--main-color);
  //   }
  }
   .contents-technology {
    // margin-bottom: 32px;
 //   text-align: left;
    font-size: 16px;
   float: right;
     // top: -50%;
    // margin-left: 22%;
    width: 98%;
    margin-right:-130%;
    margin-top: -22%;
   }

  .subtitle-technology{
    color: white;
    padding-top: 45%;
    padding-bottom: 2%;
    width: 220%;
    border-bottom: 2px solid #FFFFFF;

  }


  .button-service{
    // margin-left: -30%;
  width: 95%;
  // padding: 5% 10%;
  margin: 0%;
    
  }



  .servicehomepage-fuz{
    margin-top: 50%;
    align-items: center;
    margin-left: 52%;
    width: 100%;
    text-align: center;
  }


  .servicehomepage-head6{
    text-align: center;
  }


  .servicehomepage-p{
    text-align: center;
    // text-align: justify;
    text-justify: auto;
  }



  .servicehomepage2-title{
    margin-top: 30%;
  }